<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- TODO: Add close button to forms -->
    
    <!-- Display borrow info -->
    <h1><%= borrow.reader.username %>'s Borrow Record</h1>
    <p>Created on: <%= borrow.createdOn %></p>
    <p>Due date: <%= borrow.dueDate %></p>
    <p>Status: <%= borrow.status %></p>
    
    <% if(borrow.status === 'Ongoing' || borrow.status === 'Overdue') { %>
        <!-- Button display form to change date -->
        <button class="change-date-button">Change Return Date</button> 
    <% } %>

    <h2>Books:</h2>
    <ul>
     <% borrow.books.forEach(book => { %>
       <li><%= book.title %> - Status: <%= book.status %></li>
     <% }); %>
    </ul>

    <!-- Buttons to change status -->
    <div>
        <button class="return-button">Mark as Returned</button>
        <button class="cancel-button">Mark as Canceled</button>
        <button class="overdue-button">Mark as Overdue</button>
    </div>

    <!-- Return form -->
    <div id="returnForm" style="display: none;">
        <form id="returnForm" method="post" action="borrow/return/<%= borrow._id %>">
            <ul>
                <% borrow.books.forEach(book => { %>
                    <li>
                        <!-- Either is ticked as returned or lost -->
                        <label for="returned">Mark as returned</label>
                        <input type="checkbox" name="returned" id="returned_<%= book._id %>" value="<%= book._id %>">
                        <label for="lost">Mark as lost</label>
                        <input type="checkbox" name="lost" id="lost_<%= book._id %>" value="<%= book._id %>">                        
                        <p>Title: <%= book.title %></p>
                    </li>
                <% }); %>
            </ul>

            <input type="submit" value="Submit">

        </form>
     </div>

    <!-- Overdue form -->
    <div id="overdueForm" style="display: none">
        <form action="borrow/overdue/<%= borrow._id %>" method="post" id="overdueForm">
            <input type="submit" value="Submit">
        </form>
    </div>

    <!-- Cancel form -->
    <div id="cancelForm" style="display: none;">
        <form action="borrow/cancel/<%= borrow._id %>" method="post" id="cancelForm">
            <textarea name="reason" id="reason" cols="30" rows="10"></textarea>
            <input type="submit" value="Submit">
        </form>
    </div>

    <!-- Change date form -->
    <div id="changeDateForm" style="display: none;">
        <form id="changeDateForm" method="post" action="borrow/update_date/<%= borrow._id %>" onsubmit="return validateDate('dueDate')">
            <label for="dueDate">New Return Date:</label>
            <input type="date" id="dueDate" name="dueDate">
            <input type="submit" value="Submit">
        </form>
        <button id="closeButton">Close</button>
     </div>

     <script>
        document.querySelector('.change-date-button').addEventListener('click', function() {
        document.getElementById('changeDateForm').style.display = 'block';
        });

        document.querySelector('.return-button').addEventListener('click', function() {
        document.getElementById('returnForm').style.display = 'block';
        });

        document.querySelector('.overdue-button').addEventListener('click', function() {
        document.getElementById('overdueForm').style.display = 'block';
        });

        document.querySelector('.cancel-button').addEventListener('click', function() {
        document.getElementById('cancelForm').style.display = 'block';
        });

        document.getElementById('closeButton').addEventListener('click', function() {
        document.getElementById('changeDateForm').style.display = 'none';
        });

        function validateDate(id) {
            var selectedDate = document.getElementById(id).value;
            var today = new Date().toISOString().split('T')[0]; // Get today's date in the 'YYYY-MM-DD' format

            if (selectedDate < today) {
                  alert("Please select a date that is today or in the future.");
                return false;
            }
            return true;
        }

        window.onload = function() {
        var returnedCheckboxes = document.querySelectorAll('[id^="returned"]');
        var lostCheckboxes = document.querySelectorAll('[id^="lost"]');

        returnedCheckboxes.forEach(function(checkbox) {
            checkbox.addEventListener('change', function() {
                if (this.checked) {
                    var correspondingLostCheckbox = document.getElementById('lost_' + this.value);
                    correspondingLostCheckbox.disabled = true;
                } else {
                    var correspondingLostCheckbox = document.getElementById('lost_' + this.value);
                    correspondingLostCheckbox.disabled = false;
                }
            });
        });

        lostCheckboxes.forEach(function(checkbox) {
            checkbox.addEventListener('change', function() {
                if (this.checked) {
                    var correspondingReturnedCheckbox = document.getElementById('returned_' + this.value);
                    correspondingReturnedCheckbox.disabled = true;
                } else {
                    var correspondingReturnedCheckbox = document.getElementById('returned_' + this.value);
                    correspondingReturnedCheckbox.disabled = false;
                }
            });
        });
        };

     </script>
</body>
</html>