<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add librarian username here -->
    <title>Profile</title>
</head>
<body>
    <h1>Welcome, <%= librarian.username %></h1>

    <div>
        <p>Email: <%= librarian.gmail %></p>
        <p>Profile Picture: <img src="/<%= librarian.profilePicture %>" alt="Profile Picture"></p>
    </div>

    <p>librarian.library.username</p>
    
    <!-- Button to display form -->
    <button></button>

    <!-- Form to change account info -->
    <form action="profile" method="post" enctype="multipart/form-data">
        <label for="profile">Profile picture</label>
        <input type="file" name="image" id="profile">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
        <label for="checkbox">Confirm changes</label>
        <input type="checkbox" name="confirm" id="confirm">
    </form>
</body>
</html>