<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <% if (errors && errors.length > 0) { %>
        <div style="color: red;">
            <% errors.forEach(error => { %>
                <p><%= error.msg %></p>
            <% }); %>
        </div>
    <% } %>

    <h1>Create Librarian</h1>

    <form action="create_librarian" method="POST">
      <label for="username">Username:</label><br>
      <input type="text" id="username" name="username" required><br>
      
      <label for="gmail">Gmail:</label><br>
      <input type="email" id="gmail" name="gmail" required><br>
      
      <label for="password">Password:</label><br>
      <input type="password" id="password" name="password" required><br>
      
      <label for="confirmPassword">Confirm Password:</label><br>
      <input type="password" id="confirmPassword" name="confirmPassword" required><br>
      
      <input type="checkbox" id="acceptTerms" name="acceptTerms">
      <label for="acceptTerms">Accept terms and conditions</label><br>
      
      <input type="submit" value="Submit">
    </form>
</body>
</html>