<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="styles/index.css">
  <link rel="stylesheet" href="styles/flashcard.css">
  <link rel="stylesheet" href="styles/footer.css"/>
  <link rel="icon" href="images/vxnhe-icon.png" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <title>Homepage</title>
</head>
<header> 

    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>

    <a href="/" class="logo"> 
      <h1>VXNHE</h1> 
    </a> 
    <ul>
      <li><a href="#about">About</a></li>
      <li><a href="#goal">Goals</a></li>
      <li><a href="#statistics">Statistics</a></li>
      <li><a href="#service">Service</a></li>
    </ul> 
    <div id="account">
      <!-- TO DO: try to create different categories for each type of user -->
        <% if (user) { %>
            <% if (user.profilePicture) {%>
            <img src="/<%= user.profilePicture %>" alt="Reader Avatar" id="account_img">
            <%} else {%>
            <img src="images/default-ava.png" alt="Reader Avatar" id="account_img">
            <% } %>
            <div id="account-hovering">
              <div id="content">
                <h3 id="account-name">Hello, <%=user.username%></h3> 
                <% if (user.__t == "Reader") { %>
                <a href="/reader/profile" id="my-account">My Account</a>
                <% } else if (user.__t == "Librarian") { %>
                <a href="/librarian/profile" id="my-account">My Account</a>
                <% } else { %>
                <a href="/library/profile" id="my-account">My Account</a>
                <% } %>
                <a href="/checkin/logout" id="logout">Logout</a> 
              </div>             
            </div>
        <% } else { %>
            <a href="checkin/login"> 
                <div id="login_index">Login</div>
            </a>
            <a href="checkin/register">
                <div id="register_index">Join</div>
            </a>
        <% } %>
    </div>
</header>
<body class="font-sans">
  <section class="custom" id="start">
    <video class="video" autoplay loop muted plays-inline>
      <source
        src="/images/pexels_videos_2268807 (1080p).mp4"
        type="video/mp4"
      />
    </video>

    <div class="container"  id="welcome-text">
      <h1 class="custom-text">Vx Nhe</h1>
      <div class="header-text">
        Unlocking Worlds, One Library at a Time
      </div>
      <a class="button button-simple" href="/homepage"> Try Now </a>
    </div>
  </section>

  <!-- Main ( removed class main in section )-->
  <section > 
    <!-- Why -->
    <div id="about"></div>
    <div class="why-content">
      <h2 class="text-center why-header">Why Use Our Page</h2>
      <div class="grid-container">
        <div class="cont">
          <div class="rotate card-cont">
            <div class="card__inner">
              <div class="card__face card__face--front">
                <h2 id="ad-number">1</h2>
                <span id="short-des">Centralized Information</span>
              </div>
              <div class="card__face card__face--back">
                <p>Having a centralized platform provides a single source of information for users looking to find books and libraries. This can help streamline the search process, making it more convenient for users to access the information they need without having to visit multiple sources.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="cont">
          <div class="rotate card-cont">
            <div class="card__inner">
              <div class="card__face card__face--front">
                <h2 id="ad-number">2</h2>
                <span id="short-des">Inclusive Database</span>
              </div>
              <div class="card__face card__face--back">
                <p>A centralized system can maintain a comprehensive database of books and libraries. This can include details such as book titles, authors, genres, available copies, and library locations. Users can access a wealth of information in one place, enhancing their ability to find relevant resources.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="cont">
          <div class="rotate card-cont">
            <div class="card__inner">
              <div class="card__face card__face--front">
                <h2 id="ad-number">3</h2>
                <span id="short-des">Efficient Search Functionality</span>
              </div>
              <div class="card__face card__face--back">
                <p> Centralized websites often implement powerful search algorithms and filters, enabling users to perform efficient searches based on various criteria such as book title, author, genre, location, and availability. This helps users quickly locate the information they are seeking.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="cont">
          <div class="rotate card-cont">
            <div class="card__inner">
              <div class="card__face card__face--front">
                <h2 id="ad-number">4</h2>
                <span id="short-des">Integration with Libraries</span>
              </div>
              <div class="card__face card__face--back">
                <p>A centralized platform can integrate with different libraries, allowing users to access information about books available in multiple locations. This integration may include real-time updates on book availability, library hours, and other relevant details.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- What -->
    <div id="goal"></div>
    <div class="what-content">
      <h2 class="what-header">What We Are Made For</h2>
      
      <div class="about">
        <div class="card">
          <div class="title">The Community</div>
          <p class="reason ">Connecting Communities through 
            Knowledge and Books
          </p>
        </div>
        <div class="card">
          <div class="title">Scholars</div>
         <p class="reason">
          Made by students for students
         </p>
        </div>
      </div>
    </div>

    <!-- Summary Statistics -->
    <div class="statistics" id="statistics">
      <h2 class="statistics-header">Our Summary Statistics</h2>
      <div class='tableauPlaceholder' id='viz1702881786925' style='position: relative'>
        <noscript>
          <a href='#'>
            <img alt='Library Summary ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;te&#47;test2_17028802234290&#47;LibrarySummary&#47;1_rss.png' style='border: none' />
          </a>
        </noscript>
        <object class='tableauViz'  style='display:none;'>
          <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
          <param name='embed_code_version' value='3' /> 
          <param name='site_root' value='' />
          <param name='name' value='test2_17028802234290&#47;LibrarySummary' />
          <param name='tabs' value='no' />
          <param name='toolbar' value='yes' />
          <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;te&#47;test2_17028802234290&#47;LibrarySummary&#47;1.png' /> 
          <param name='animate_transition' value='yes' />
          <param name='display_static_image' value='yes' />
          <param name='display_spinner' value='yes' />
          <param name='display_overlay' value='yes' />
          <param name='display_count' value='yes' />
          <param name='language' value='en-US' />
          <param name='filter' value='publish=yes' />
        </object>
      </div>                
      <script type='text/javascript'>                    
        var divElement = document.getElementById('viz1702881786925');                    
        var vizElement = divElement.getElementsByTagName('object')[0];                    
        if ( divElement.offsetWidth > 800 ) { vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';} 
        else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';} 
        else { vizElement.style.width='100%';vizElement.style.height='977px';}                     
        var scriptElement = document.createElement('script');                    
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
        vizElement.parentNode.insertBefore(scriptElement, vizElement);                
      </script>
  
    </div>

    <!-- Join Now -->
    <div id="service"></div>
    <div class="join-now">
      <h2 class="join-now-header">Join Us Now</h2>
      <p class="subtitle">Get Ready to Embark on a Literary Adventure</p>
      <a class="button3"  href="checkin/login"> Join Now </a>
    </div>
  </section>
  
  <%- include("partials_readers/footer.ejs") %>
  <script src="js/flashcard.js"></script>
</body>
<script type="text/javascript" src="js/index.js"></script>
<script src="https://kit.fontawesome.com/5c0d7c8bb2.js" crossorigin="anonymous"></script>
</html>


