
<div class="pop-up-modal" id="pop-up-createLibrarians">
        
    <div id="create-librarians-body"> 
        <% if (errors_lib && errors_lib.length > 0) { %>
            <div style="color: red;">
                <% errors_lib.forEach(error => { %>
                    <p><%= error.msg %></p>
                <% }); %>
            </div>
        <% } %>

        <div class="createLibrarians-header">
            <div class="title">Create Librarian</div>
            <button data-close-button class="close-modal">&times;</button>
        </div>

        <form action="create_librarian" method="POST">
            <div class="main-user-info">
                <div class="user-input-box">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" placeholder="Enter Full Name" required>
                </div>
                <div class="user-input-box">
                    <label for="gmail">Gmail</label>
                    <input type="email" id="gmail" name="gmail" placeholder="Enter Gmail" required>
                </div>
                <div class="user-input-box">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter Password" required>
                </div>
                <div class="user-input-box">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required>
                </div>
                <div class="user-accept-terms">
                    <input type="checkbox" id="acceptTerms" name="acceptTerms">
                    <label for="acceptTerms">Accept terms and conditions</label>
                </div>
            </div>

            <div class="form-submit-btn">
                <input type="submit" value="Submit">
            </div>
        </form>
        
    </div> 

</div>