<div class="pop-up-modal" id="pop-up-update">
    <div id="update-body">
        

        <div class="update-header">
            <div class="title">Library Profile</div>
            <button data-close-button class="close-modal">&times;</button>
        </div>
        <% if (errors && errors.length > 0) { %>
                <div style="color: red;">
                    <% errors.forEach(error => { %>
                        <p><%= error.msg %></p>
                    <% }); %>
                </div>
        <% } %>
        <form action="profile" method="POST" enctype="multipart/form-data">
            <div class="main-user-info">
                <div class="user-input-box">
                    <label for="username">User Name</label>
                    <input type="text" id="username" name="username" >
                </div>
                <div class="user-input-box">
                    <label for="description">Description</label>
                    <input type="text" id="description" name="description">
                </div>
                <div class="user-input-box">
                    <label for="ava">Profile Picture</label>
                    <div class="image-container">
                        <img src="/<%= admin.profilePicture %>" alt="Profile Picture" class="uploaded-image">
                    </div>
                    <div class="upload-button">
                        <span>Choose File</span>
                        <input type="file" id="ava" accept="image/*" name="logo">
                    </div>
                </div>
                <div class="user-input-box">
                    <label for="banner">Banner</label>
                    <div class="image-container">
                        <img src="/<%= admin.banner %>" alt="Banner" class="uploaded-image">
                    </div>
                    <div class="upload-button">
                        <span>Choose File</span>
                        <input type="file" id="banner" accept="image/*" name="banner">
                    </div>
                </div>
                <div class="user-confirm-changes">
                    <input type="checkbox" id="confirm" name="confirm">
                    <label for="confirm">Confirm Changes</label>
                </div>
            </div>
            
            <div class="form-submit-btn">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>
