<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/book-detail.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <title>Document</title>
</head>
<body>

    <div class="breadcrumbs_container">
        <nav class="breadcrumbs">
            <a href="../home_page/index.html" class="breadcrumbs__item">Home</a>
            <a href="../category_fiction/index.html" class="breadcrumbs__item">Library</a> 
            <a href="index.html" class="breadcrumbs__item is-active">The Great Gatsby</a> 
        </nav>
    </div>

    <div class="container">

        <div class="book-image">
            <img src="test.jpg" alt="test">
        </div>
        <!-- small image vertical carousel -->
        <div class="book-carousel">
            <div class="book-carousel-item">
                <img src="test.jpg" alt="test">
            </div>
            <div class="book-carousel-item">
                <img src="test.jpg" alt="test">
            </div>
            <div class="book-carousel-item">
                <img src="test.jpg" alt="test">
            </div>
        </div>

        <div class="description">
            <h1><span class="title-text">The Great Gatsby</span><i class="bookmark-icon far fa-star"></i></h1>
            <p>Author: F. Scott Fitzgerald</p>
            <p>Category: Fiction</p>
            <p>description:</p>
            <p>PublishDate:</p>
            <p>Library:</p>
            <P>DateImported:</P>
            <p>Amount:</p>

            <button class="btn">
                <span>ADD TO CART</span>
            </button>
            
        </div>
        
    </div>

</body>
</html>