<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map</title>

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
    
</head>
<body>
    <!-- Display the libraries location -->
    <!-- Display users current location -->
    <div
    id="map"
    style="width: 1000px; height: 1000px;border-radius: 5px;"
    ></div>

    <script src="/js/map.js"></script>
</body>
</html>