<!DOCTYPE html>
<html>

<head>
  <title>Terms and Conditions</title>
  <link rel="stylesheet" type="text/css" href="styles/terms.css">
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/footer.css"/>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<%- include("../partials_readers/head_navigation.ejs") %>

  <body>

    <div class="wrapper flex_align_justify">
      <div class="tc_wrap">
        <div class="tabs_list">
          <ul>
            <li data-tc="tab_item_1" class="active">Terms Of Use</li>
            <li data-tc="tab_item_2">Intellectual Property Rights</li>
            <li data-tc="tab_item_3">Prohibited Activities</li>
            <li data-tc="tab_item_4">Termination Clause</li>
            <li data-tc="tab_item_5">Studying With Us</li>
          </ul>
        </div>
        <div class="tabs_content">
          <div class="tab_head">
            <h2>Terms & Conditions</h2>
          </div>
          <div class="tab_body">
            <div class="tab_item tab_item_1">
              <h3>Terms Of Use</h3>
              <p>a. Library Managers: <br> Library managers are responsible for overseeing and administering the System,
                including managing user accounts, book cataloging, and maintaining the overall functionality of the
                System. They must ensure accurate and up-to-date information about the books, including titles, authors,
                genres, descriptions, and cover images.</p>
              <br>
              <p>b. Librarians: <br> Librarians assist in managing the System, including adding, modifying, and
                categorizing books, as well as providing support to readers. They must adhere to the guidelines and
                procedures set by the library managers.</p>
              <br>
              <p>c. Readers: <br> Readers have the privilege to search, browse, and access books available in the
                library through the System. They should respect the intellectual property rights of authors and
                publishers and not engage in any activities that infringe upon copyright laws or violate the rights of
                others.</p>
            </div>
            <div class="tab_item tab_item_2" style="display: none;">
              <h3>Intellectual Property Rights</h3>
              <p>a. Ownership: <br> All intellectual property rights, including but not limited to content, trademarks,
                logos, and design elements, are owned by the System or its licensors. Users may not copy, reproduce,
                distribute, or use any intellectual property of the System without prior written permission.</p>
              <p>b. User-Generated Content: <br> By submitting content such as book reviews, comments, or suggestions,
                users grant the System a non-exclusive, royalty-free license to use, modify, and distribute the content
                for the purpose of improving the user experience and promoting the System. Users are solely responsible
                for the content they submit and must not infringe upon the intellectual property rights of others.</p>
            </div>
            <div class="tab_item tab_item_3" style="display: none;">
              <h3>Prohibited Activities</h3>
              <p>a. Users are strictly prohibited from uploading or sharing any illegal, harmful, or offensive content,
                including explicit, discriminatory, or violent materials.</p>
              <p>b. Users must not engage in any form of hacking, data mining, reverse engineering, or unauthorized
                access to the System's systems or databases.</p>
              <p>c. Users must not impersonate others or misrepresent their affiliation with the System or any other
                individual or entity.</p>
              <p>d. Users must not disrupt or interfere with the normal functioning of the System, including the
                introduction of viruses, malware, or any other harmful code.</p>
              <p>e. Users must not engage in any activity that violates applicable laws, regulations, or the rights of
                others.</p>
            </div>
            <div class="tab_item tab_item_4" style="display: none;">
              <h3>Termination Clause</h3>
              <p>a. The System reserves the right to terminate or suspend a user's access to the System, with or without
                cause, at any time and without prior notice.</p>
              <p>b. Users may terminate their agreement with the System by discontinuing the use of the System and
                deleting their account, if applicable.</p>
            </div>
            <div class="tab_item tab_item_5" style="display: none;">
              <h3>Studying With Us</h3>
              <p>a. Accessibility: <br> The online library project aims to overcome the challenges faced by readers in accessing 
                books and resources. It provides a user-friendly web application that offers convenient and easy access 
                to a wide range of books and materials.</p>
              <p>b. Search and Availability: <br> The web application enables users to search for books and check their availability. 
                It provides a comprehensive catalogue that allows readers to quickly find the desired resources and determine 
                their availability status.</p>
              <p>c. Location Information: <br> The application assists users in finding the physical location of books within the library. 
                It helps readers navigate the library effectively by providing clear information on the shelf or section where the 
                book is located.</p>
              <p>d. Centralized Library Management: <br> The project brings together multiple libraries into a centralized platform. 
                It facilitates efficient catalogue maintenance and resource management for library administrators, streamlining 
                their operations and enhancing productivity.</p>
              <p>e. Resource Optimization: <br> The application optimizes the utilization of library resources by providing insights into 
                usage patterns and demand trends. It assists library management in making informed decisions regarding resource 
                allocation and acquisition.</p>
              <p>f. Adaptability: <br> The web application is designed to adapt to changing user needs and preferences. It incorporates 
                feedback and suggestions from readers and library management to continuously improve the user experience and 
                meet evolving requirements.</p>
              <p>g. Improved Library Experience: <br> The ultimate goal of the project is to enhance the overall library experience for 
                both readers and library management. By providing easy access to resources and streamlining administrative tasks, 
                it aims to make the library more accessible, enjoyable, and efficient for all stakeholders.</p>
              <p>h. Collaboration and Study with Us: <br> The project includes a "Study with Us" section, which encourages collaboration and
                 knowledge sharing among users. It provides a platform for readers to engage in discussions, share study materials, and 
                 collaborate on projects, fostering a vibrant and interactive learning community.</p>
              <p>i. Enhanced Access to Library Resources: <br> The online library project aims to make it easier for everyone to access and enjoy 
                library resources. It eliminates the barriers of physical distance and limited opening hours, allowing users to explore 
                and benefit from the library's offerings at their convenience.</p>
              <p>k. Continuous Improvement: <br> The project is committed to continuous improvement and ongoing development. It welcomes feedback 
                from users and stakeholders to refine and enhance the online library platform, ensuring that it remains relevant, efficient, 
                and aligned with the evolving needs of readers and library management.</p>
            </div>
          </div>
          <div class="tab_foot flex_align_justify">
            <button class="decline">Decline</button>
            <button class="agree">Agree</button>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="js/terms.js"></script>
    <%- include("../partials_readers/footer.ejs") %>
  </body>

</html>