<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrow details</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link rel="stylesheet" href="borrow.css">
</head>
<body>
    <div>
        <!-- Profile Information Section -->
        <div class="profile-section">
            <!-- Profile Image -->
            <img src="img/Screenshot 2023-10-14 231723.png" alt="Profile Image" class="profile-image">

            <!-- Profile Details (2 Column) -->
            <div class="profile-details">
                <h1 class="profile-name">E Duc</h1>
                <p class="profile-role">Web Developer</p>
            </div>
        </div>
        <!-- Extra Description Section -->
        <div class="extra-description">
            <h2 class="section-title">About Me</h2>
            <p class="section-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.
                Sed cursus ante dapibus diam.
            </p>
        </div>
    </div>
    <h1 id="borrow-header">Borrwing books</h1>
    <div class="general-slider-container">
        <div class="general-slider-wrapper">
          <button id="general-prev-slide" class="general-slide-button material-symbols-rounded">
            chevron_left
          </button>
          <ul class="general-image-list">
            <img class="general-image-item" src="img/Screenshot 2023-10-14 231723.png" alt="img-1" />
            <img class="general-image-item" src="img/Screenshot 2023-10-14 231723.png" alt="img-2" />
            <img class="general-image-item" src="img/Screenshot 2023-10-14 231723.png" alt="img-3" />
            <img class="general-image-item" src="img/Screenshot 2023-10-14 231723.png" alt="img-4" />
            <img class="general-image-item" src="img/Screenshot 2023-10-14 231723.png" alt="img-5" />
            <img class="general-image-item" src="img/Screenshot 2023-10-14 231723.png" alt="img-6" />
            <img class="general-image-item" src="img/Screenshot 2023-10-14 231723.png" alt="img-7" />
            <img class="general-image-item" src="img/Screenshot 2023-10-14 231723.png" alt="img-8" />
            <img class="general-image-item" src="img/Screenshot 2023-10-14 231723.png" alt="img-9" />
            <img class="general-image-item" src="img/Screenshot 2023-10-14 231723.png" alt="img-10" />
          </ul>
          <button id="general-next-slide" class="general-slide-button material-symbols-rounded">
            chevron_right
          </button>
        </div>
        <div class="general-slider-scrollbar">
          <div class="general-scrollbar-track">
            <div class="general-scrollbar-thumb"></div>
          </div>
        </div>
      </div>
</div>
<script src="borrow.js"></script>
</body>
</html>
