<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/dashboard.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>Dashboard</title>
</head>
<body class="font-sans">
  <!-- TODO: Render the notice board from the database -->
    <!-- Navigation Bar -->
    <nav class="text-white p-4">
        <div class="flex justify-between items-center">
            <div class="text-6xl font-bold ml-10">VXNHE</div>
            <div class="flex space-x-10 mr-10 text-xl">
                <a href="dashboard.html" class="hover:text-gray-300">Dashboard</a>
                <a href="/librarian/customer" class="hover:text-gray-300">Customer management</a>
                <a href="" class="hover:text-gray-300">Inventory management</a>
            </div>
        </div>
    </nav>

    <!-- Main Section -->
    
    <div>
        <div class="welcome">
            <h1 class="welcome-text">WELCOME</h1>
            <h2 class="lib-name">Library 1' Librarian</h2>
        </div>
        <div class="decoration">

        </div>
    </div>
    <div class="dashboard">
        <h2 class="sect-header">Statistics hub</h2>
        <div class='tableauPlaceholder' id='viz1702881786925' style='position: relative'>
          <noscript>
            <a href='#'>
              <img alt='Library Summary ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;te&#47;test2_17028802234290&#47;LibrarySummary&#47;1_rss.png' style='border: none' />
            </a>
          </noscript>
          <object class='tableauViz'  style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
            <param name='embed_code_version' value='3' /> 
            <param name='site_root' value='' />
            <param name='name' value='test2_17028802234290&#47;LibrarySummary' />
            <param name='tabs' value='no' />
            <param name='toolbar' value='yes' />
            <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;te&#47;test2_17028802234290&#47;LibrarySummary&#47;1.png' /> 
            <param name='animate_transition' value='yes' />
            <param name='display_static_image' value='yes' />
            <param name='display_spinner' value='yes' />
            <param name='display_overlay' value='yes' />
            <param name='display_count' value='yes' />
            <param name='language' value='en-US' />
            <param name='filter' value='publish=yes' />
          </object>
        </div>                
        <script type='text/javascript'>                    
          var divElement = document.getElementById('viz1702881786925');                    
          var vizElement = divElement.getElementsByTagName('object')[0];                    
          if ( divElement.offsetWidth > 800 ) { vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';} 
          else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';} 
          else { vizElement.style.width='100%';vizElement.style.height='977px';}                     
          var scriptElement = document.createElement('script');                    
          scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
          vizElement.parentNode.insertBefore(scriptElement, vizElement);                
        </script>
      </div>
      
      <form action="notify/add_notify" method="post">
        <div class="popup-box">
          <div class="popup">
            <div class="content">
              <header>
                <p></p>
                <i class="uil uil-times"></i>
              </header>
              <form action="#">
                <div class="row title">
                  <label>Title</label>
                  <input type="text" name="title" spellcheck="false">
                </div>
                <div class="row description">
                  <label>Description</label>
                  <textarea spellcheck="false" name="description"></textarea>
                </div>
                <button type="submit"></button>
                <input type="submit" value="Submit">
              </form>
            </div>
          </div>
        </div>
      </form>

      <div class="wrapper">
        <li class="add-box">
          <div class="icon"><i class="uil uil-plus"></i></div>
          <p>Add new note</p>
        </li>
      </div>
      <script src="/js/dashboard.js"></script>
</body>
</html>
