* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --theme-color-white: #EEF0E5; 
  --theme-color-light-green: #B6C4B6;
  --theme-color-medium-green: #304D30;
  --theme-color-heavy-green: #163020;
  --theme-color-bright-green: #A8DF8E;
  --theme-color-shadow: #5f5e5e73;
}
:root {
  --theme-color-peach: #FCEDDA;
  --theme-color-orange: #EE4E34;
}

main {
  background-color: var(--theme-color-heavy-green);
}

main h2 {

}

.profile-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2.5rem;
}

.profile-extra{
  padding-bottom: 2rem;
}

.profile-image {
  border-radius: 50%;
  margin-right: 1rem;
  height:300px;
  width: 300px;
  
  background-color: var(--theme-color-white);
  box-shadow: 1px 1px 5px black;
}
body {
background-color: var(--theme-color-white);
}
.profile-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--theme-color-heavy-green);
}

.profile-name {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
  margin: 1rem;
}

.extra-description {
  padding: 100px;
}

.section-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.section-content {
  color: #4a5568;
}
#borrow-header {
  padding: 100px;
  text-align: center;
}
/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}

.slide-container {
margin: 0 30px;
overflow: hidden;

margin-bottom: 2rem;
}
.card {
background: #fff;
border-radius: 8px;
}
.card .image-box {
height: 300px;
}
.card .image-box img {
width: 100%;
height: 100%;
border-radius: 8px 8px 0 0;
}
.card .profile-details {
display: flex;
align-items: center;
column-gap: 12px;
padding: 15px;
}
.card .profile-details img {
height: 40px;
width: 40px;
border-radius: 50%;
}
.profile-details .name {
font-size: 15px;
font-weight: 500;
}
.profile-details .job {
font-size: 12px;
font-weight: 500;
color: #4d4d4d;
}

.swiper-navBtn {
color: #000;
height: 50px;
width: 50px;
transform: translateY(-40%);
background: #fff;
border-radius: 50%;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
font-size: 24px;
}

.swiper-pagination-bullet {
background-color: #333;
}

/* Pop button */
#pop-up-Returned .Returned-header,
#pop-up-Canceled .Cancel-header,
#pop-up-Overdue .Overdue-header,
#pop-up-ChangeDate .ChangeDate-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  background: var(--theme-color-medium-green);
}


#pop-up-Returned .title,
#pop-up-Canceled .title,
#pop-up-Overdue .title,
#pop-up-ChangeDate .title {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--theme-color-white);
}

#pop-up-Returned .close-modal,
#pop-up-Canceled .close-modal,
#pop-up-Overdue .close-modal,
#pop-up-ChangeDate .close-modal {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--theme-color-white);
}


#pop-up-Returned #Returned-body,
#pop-up-Canceled #Cancel-body,
#pop-up-Overdue #Overdue-body,
#pop-up-ChangeDate #ChangeDate-body {
  padding: 15px ;
}

#pop-up-Returned #Returned-body {
  overflow-y: scroll;
  max-height: 500px;
}

#Overdue-body input,
#Returned-body #submit-btn,
#ChangeDate-body #submit-btn,
#Cancel-body input{
  width: 100%;
  background-color: var(--theme-color-heavy-green);
  height: 40px;
  color: var(--theme-color-white);
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
}



#mark-Returned,
#mark-Canceled,
#mark-Overdue,
#change-date-button {
  min-width: 150px;
  color: var(--theme-color-heavy-green);
  background-color: var(--theme-color-white);
  height: 50px;
  font-weight:500;
  border-radius: 7px;
}

#mark-Returned:hover,
#mark-Canceled:hover,
#mark-Overdue:hover,
#change-date-button:hover {
  box-shadow: 2px 1px 5px rgba(182, 196, 182, 0.6);
}


#listOfBooks {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#listOfBooks #title {
  color: var(--theme-color-white);
  margin-top: 30px;
  font-size: 3rem;
}

#listOfBooks ul {
  background-color: var(--theme-color-white);
  height: 300px;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  align-items: center;
  padding: 30px 10px;
  width: 800px;
  overflow-y: scroll;
}

#listOfBooks ul li {
  padding: 0 30px;
  height: 50px;
  width: 100%;
  border: 1px solid var(--theme-color-heavy-green);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#listOfBooks ul a {
  width: 100%;

}

#listOfBooks ul a:hover {
  box-shadow: 1px 1px 5px rgba(22, 48, 32, 0.5);
}

#listOfBooks ul li img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

#Returned-body li {
  border: 1px solid var(--theme-color-heavy-green);
  padding: 5px;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .swiper-navBtn {
    display: none;
  }
  .profile-section{
    display: flex;
    flex-direction: column;
  }
}

.sect-header {
font-size: 62px;
  font-weight: 700;
  letter-spacing: 0.2px;
  line-height: 74px;
  padding-bottom: 0.5rem;
  color: var(--theme-color-heavy-green);
  margin-bottom: 2rem;
  text-align: center;
}

.extra-description .borrow-header {
  font-size: 62px;
  font-weight: 700;
  letter-spacing: 0.2px;
  line-height: 74px;
  padding-bottom: 0.5rem;
  color: var(--theme-color-white);
  margin-bottom: 2rem;
  text-align: center;
}

.extra-description {
background-color: var(--theme-color-heavy-green);
}

#extra-information {
color: var(--theme-color-white);
}

#extra-reader-info {
color: var(--theme-color-heavy-green);
}

.triangle-line {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  background-color: var(--theme-color-white);
}

.triangle {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 20px solid var(--theme-color-heavy-green); /* Change color as needed */
}

.triangle-flip {
width: 0;
height: 0;
border-left: 30px solid transparent;
border-right: 30px solid transparent;
border-top: 20px solid var(--theme-color-heavy-green); /* Change color as needed */
}

.borrowing-cont {
margin-top: 5rem;
}

.interact-buttons {
display: flex;
justify-content: center;
height: 20vh;
}
#accept {
background-color: var(--theme-color-heavy-green);
color: var(--theme-color-white);
}

#decline {
background-color: var(--theme-color-white);
border: 2px solid;
border-color: var(--theme-color-heavy-green);
color: var(--theme-color-heavy-green);
}

.interact-buttons button {
margin: 1rem;
padding: 1rem;
border-radius: 20px;
}