.card-cont {
    font-size: 1rem;
    font-weight: bold;
    border-radius: 1rem;
    position: relative;
    transform-style: preserve-3d;
    transform: perspective(2000px) rotateY(var(--rotateX)) rotateX(var(--rotateY));
}
/* flash card */
.card-cont {
    max-width: none;
    height: 40vh;
    perspective: 1000px;
}
.card__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}
.card__inner.is-flipped {
    transform: rotateY(180deg);
}
.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
}
.card__face--front {
    background-color: #EE4E34;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #f9e4c8;
    box-shadow: 10px 14px 18px rgba(0, 0, 0, 0.6);
    text-align: center;
}
.card__face--back {
    transform: rotateY(180deg);
    background-color: #f9e4c8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 10px 14px 18px rgba(0, 0, 0, 0.6);
}
.list-cards {
    margin: 200px;
    display: grid;
    background-color: brown;
    border-radius: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust the minimum and maximum width as needed */
    gap: 10px; /* Adjust the gap between cards as needed */
}
.cont {
    padding: 50px;
}
#ad-number {
    font-size: 3rem;

}
#short-des {
    font-size: 2rem;
    padding: 20px;
}