@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer-area {
  font-family: 'Poppins', sans-serif;
  margin-top: -2px;
  padding: 234px 0;
  background: linear-gradient(to bottom, #eaeaea, #edeaed, #f4eaee, #fbe9ea, #ffeae3, #ffdfcf, #fdd5b9, #f7cca3, #f5b17f, #f3955f, #f17546, #ee4e34);
  color: black;
  position: relative;
  overflow: hidden;
}

.main {
  width: 1200px;
  margin: 0 auto;
}

.gradient-connector {
  background: linear-gradient(to bottom, transparent, #ee4e34);
  height: 1px;
}

.footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: -100px;
}

.logo_footer {
  margin-bottom: 10px;
  font-family: "Arial", sans-serif;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.single-footer {
  width: 230px;
}

.single-footer:first-child {
  width: 400px;
}

.single-footer h4 {
  text-transform: capitalize;
  font-size: 22px;
  margin-bottom: 20px;
}

.footer-social a {
  color: black;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  padding-top: 7px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;
}

.footer-social {
  margin-top: 20px;
}

.single-footer ul{
  list-style: none;
}

.single-footer ul li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
}

.single-footer ul li a {
  color: black;
  text-transform: capitalize;
  text-decoration: none;
}

.single-footer ul li a i {
  position: absolute;
  left: 0;
  top: 5px;
}

.copy {
  text-align: center;
  text-transform: capitalize;
  margin-top: 50px;
}

.copy p {
  text-align: center;
  position: relative;
  margin-bottom: -100px;
  margin-top: 100px;
}

.footer-wave-box {
  height: 5%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}

/* Responsive */
@media only screen and (max-width: 992px) {
  .main {
    width: 90%;
  }
  
  .single-footer {
    width: 100%;
    margin-bottom: 30px;
  }
  
  .single-footer:first-child {
    width: 100%;
  }
}
  
@media only screen and (max-width: 600px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
    
  .single-footer {
    width: 100%;
    margin-bottom: 30px;
  }
  
  .single-footer:first-child {
    width: 100%;
  }

  .copy p {
      padding: 20px;
  }
}