body {
    background-color: #f7f7f7;
    font-family: 'Open Sans', sans-serif;
}

.forgot-password {
    max-width: 450px;
    margin: 50px auto;
    background-color: #FCEDDA;
    padding: 40px;
    box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.forgot-password h1 {
    font-size: 20px;
    text-align: center;
    color: #EE4E34;
    padding-bottom: 20px;
}

.forgot-password label {
    display: block;
    margin-bottom: 5px;
    color: #EE4E34;
}

.forgot-password input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #EE4E34;
    border-radius: 3px;
    outline: none;
    color: #666666;
}

.forgot-password input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #EE4E34;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    margin-top: 20px;
}

.forgot-password input[type="submit"]:hover {
    background-color: #DD412C;
}

.forgot-password p {
    text-align: center;
    margin-top: 20px;
}

.forgot-password p a {
    color: #EE4E34;
    text-decoration: none;
}

.forgot-password p a:hover {
    text-decoration: underline;
}