:root {
    --theme-color-white: #EEF0E5; 
    --theme-color-light-green: #B6C4B6;
    --theme-color-medium-green: #304D30;
    --theme-color-heavy-green: #163020;
    --theme-color-bright-green: #A8DF8E;
    --theme-color-shadow: #5f5e5e73;
}

.hot {
    position: relative;
    height: 90vh;
    overflow-x: hidden;
    margin-top: 100px;
}

.hot-book{
    position: absolute;
    margin-top: 250px;
    text-align: justify;
    border-radius: 10px;
    color: var(--theme-color-light-green);
    transition: 0.5s;
    left: calc(50% - 150px);
    top: 0;
}

#next-hot, #prev-hot{
    position: absolute;
    top: 40%;
    color: var(--theme-color-heavy-green);
    background-color: transparent;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
    left: 50px;
    z-index: 100;
}

#next-hot{
    left: unset;
    right: 50px;
}

.hot-book {
    max-height: 600px;
    width: 250px;
}

#hot-title, #award-title, #lib-title {
    font-size: 62px;
    font-weight: 700;
    letter-spacing: 0.2px;
    line-height: 74px;
    padding-bottom: 0.5rem;
    color: var(--theme-color-medium-green);
    text-align: center;
}

#award-title {
    margin-top: 100px;
}

#lib-title {
    color: var(--theme-color-heavy-green);
    padding: 10px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}
