.hot {
    position: relative;
    height: 120vh;
    overflow-x: hidden;
    margin-top: 100px;
}

.hot-book{
    position: absolute;
    margin-top: 250px;
    text-align: justify;
    border-radius: 10px;
    color: #f9e4c8;
    transition: 0.5s;
    left: calc(50% - 150px);
    top: 0;
    box-shadow: 2px 1px 41px 19px rgba(238,78,52,0.68);
    -webkit-box-shadow: 2px 1px 41px 19px rgba(238,78,52,0.68);
    -moz-box-shadow: 2px 1px 41px 19px rgba(238,78,52,0.68);
}
#next-hot, #prev-hot{
    position: absolute;
    top: 40%;
    color: #000000;
    background-color: transparent;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
    left: 50px;
    z-index: 100;
}
#next-hot{
    left: unset;
    right: 50px;
}

.hot-book {
    max-height: 600px;
    width: 250px;
}

#hot-title, #award-title, #lib-title {
    font-size: 62px;
    font-weight: 700;
    letter-spacing: 0.2px;
    line-height: 74px;
    padding-bottom: 0.5rem;
    color: #ee4e34;
    text-align: center;
}

#award-title {
    margin-top: 100px;
}

#lib-title {
    color: #f9e4c8;
    padding-bottom: 50px;
}