.hot {
    position: relative;
    height: 100vh;
    overflow-x: hidden;
    margin-top: 100px;
}

.hot-book{
    position: absolute;
    margin-top: 200px;
    text-align: justify;
    background-color: #EE4E34;
    border-radius: 10px;
    padding: 20px;
    color: #f9e4c8;
    transition: 0.5s;
    left: calc(50% - 150px);
    top: 0;
}
#next-hot, #prev-hot{
    position: absolute;
    top: 50%;
    color: #000000;
    background-color: transparent;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
    left: 50px;
    z-index: 100;
}
#next-hot{
    left: unset;
    right: 50px;
}

.hot-book {
    height: 50%;
    width: 300px;
}

#hot-title {
    font-size: 62px;
    font-weight: 700;
    letter-spacing: 0.2px;
    line-height: 74px;
    padding-bottom: 0.5rem;
    color: #ee4e34;
    text-align: center;
}