@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
  }
:root {
    --theme-color-peach: #FCEDDA; 
    --theme-color-orange: #EE4E34;
} 

html {
    scroll-behavior: smooth;
}

header {
    position: fixed;  
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding:  40px 100px;
    z-index: 10000;
}

body,section {
  overflow-x: hidden;
}

.sticky {
    padding: 5px 100px;
    background: rgba(252, 237, 217, 0.85);
    backdrop-filter: blur(10px);
}

.logo {
    position: relative;
    font-weight: 700;
    color: var(--theme-color-peach);
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li a {
    position: inherit;
    margin: 0 15px;
    text-decoration: none;
    color: var(--theme-color-peach);
    letter-spacing: 2px;
    font-weight: 700px;
    transition: 0.6s;
}

header ul li a:hover {
    color: var(--theme-color-orange);
}

#account {
    width: fit-content;
    color: var(--theme-color-peach);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#login_index {
    margin-right: 20px;
    font-weight: 500px;
    font-size: 1.5em;
}

#login_index:hover {
    color: var(--theme-color-orange);
    transition: 0.6s;
}

#register_index {
    font-weight: 500px;
    font-size: 1.5em;
}

#register_index:hover {
    color: var(--theme-color-orange);
    transition: 0.6s;
}

#account_img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

#account-hovering {
  transition: 0.6s;
  position: absolute;
  display: none;
  top:85px;
  right: 70px;
  z-index: 50;
  background-color: #fff;
  color: #000;
  width: 200px;
  height: 300px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.6);;
}

.sticky .logo,
.sticky #account,
.sticky .checkbtn,
.sticky ul li a {
    color: var(--theme-color-orange);
}

.sticky #account-hovering {
  top:50px;
}

.sticky ul li a:hover {
  color: white;
}

.checkbtn {
    font-size: 30px;
    color: var(--theme-color-peach);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;  
}

#check {
    display: none;
}

/* EM CHAU'S PART */

.container .custom-text {
  /* color: #ee4e34;
  font-size: 70px;
  font-weight: 700;
  max-width: 870px;
  width: 70%;
  margin-bottom: 30px; */
  /* background: linear-gradient(295deg, #F29727 0%, #CD1818 58%, #CD1818 67%);     */
  background-image: linear-gradient(295deg, #FFF 40%, #f37f51 , #CD1818 );
  text-transform: uppercase;
  font-size: 10em;
  font-weight: 900;
  margin-top: 40px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Custom */
.custom {
  min-height: 100vh;
  position: relative;
  z-index: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--white);
  padding: 50px;
  overflow-x: hidden;
}

.main::-webkit-scrollbar {
  display: none;
}

.custom::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(
   #FCEDDA,
   #FCEDDA
    )

    scroll no-repeat bottom transparent;
}

.custom #welcome-text{
  z-index: 900;
  color: var(--white);
  width: 70%;
  margin-top: 50px;
}

.custom .video {
  right: 0;
  bottom: 0;
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom::before{
  z-index: 101;
  content: '';
  position: absolute;
  background:linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(252,237,218,0.68) 95%, rgba(252,237,218,1) 100%);
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
}

.container {
  position: absolute;
  top: 200px;
  left: 50px;
}



.container .header-text {
  /* color: #ee4e34;
  max-width: 770px;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.22px;
  line-height: 26px;
  margin-bottom: 50px;
   */
   font-size: 3em;
   font-weight: 1000;
   text-transform: uppercase;
   letter-spacing: 1px;
   line-height: 75px;
   margin-bottom: 40px;
   margin-top: 30px;
   color: white;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  background-color: #ee4e34;
  color: whitesmoke;
  border: 2px solid #ee4e34;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
  background-color: #f37f51;
  color: white;
  border: 2px solid #f37f51;
}

.button2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  background-color: #ee4e34;
  color: whitesmoke;
  border: 2px solid #ee4e34;
  transition: background-color 0.3s ease, color 0.3s ease;

}

.button2:hover {
  background-color: #f37f51;
  color: white;
  border: 2px solid #f37f51;
}
.button3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  margin-left: 40%;
  margin-right: 40%;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  background-color: #f37f51;
  color: whitesmoke;
  border: 2px solid #f37f51;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button3:hover {
  background-color: #FCEDDA;
  color: #ee4e34;
  border: 2px solid #f37f51;
}
/* Main */
/* .main {
  background-image: linear-gradient(
    to left bottom,
    #fcedde,
    #f9cba7,
    #f6a778,
    #f37f51,
    #ee4e34
  );
  padding: 46px;
  padding-top: 0;
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.2);
  background: none;
} */

/* Why */
.why-content {
  color: black;
  padding: 40px 120px 120px 120px ;
  background:#FCEDDA;
  overflow-x: hidden;
}

.why-header {
  font-size: 62px;
  font-weight: 700;
  letter-spacing: 0.2px;
  line-height: 74px;
  padding-bottom: 0.5rem;
  color: #ee4e34;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(auto-fit);
  grid-template-columns: repeat(auto-fit, minmax(340px, auto));
 
  height: 100%;
  width: 100%;
  /* column-gap: 10px;
  margin-top: 48px; */
}

.grid-container .grid-element {
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.04);
  min-height: 400px;
  background: #f7f7f7;
  padding: 35px 25px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.grid-container .grid-element .advantage {
  font-size: 4em;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  align-items: center;
  color: #ee4e34;
}
.description1 {
  color: #f37f51;
}
/* What */
.what-content {
  padding: 120px;
  background-color: #ee4e34;
  overflow-x: hidden;
}

.what-header {
  font-size: 62px;
  font-weight: 700;
  letter-spacing: 0.2px;
  line-height: 74px;
  padding-bottom: 0.5rem;
  text-align: center;
  color: #FCEDDA;
}

.subtitle {
  color: #000;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 27px;
}

.about {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 3rem;
  column-gap: 1.5rem;
}

.card {
  background: #f7f7f7;
  border: none;
  border-radius: 15px;
  padding: 80px 60px 60px;
  width: 100%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 48px;
  margin-bottom: 20px;
  text-align: center;
  color: #ee4e34;
}

.title ul {
  list-style: none;
}

.title ul li {
  margin-bottom: 25px;
  padding-left: 25px;
}

/* Statistics */
.statistics {
  padding: 120px;
  background:#FCEDDA;
}

.statistics-header {
  font-size: 62px;
  font-weight: 700;
  letter-spacing: 0.2px;
  line-height: 74px;
  padding-bottom: 0.5rem;
  text-align: center;
  color: #ee4e34;
}

.statistics-content {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 25px;
  margin-top: 48px;
}

.card-box {
  border: 1px solid #ccc;
  border-radius: 8px;
}

.card-item {
  background: #f7f7f7;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 50px;
  position: relative;
}

.card-item img {
  padding-bottom: 50px;
  height: 300px;
  width: 300px;
}

.card-item h3 {
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 8px;
}

.card-item p {
  color: #414141;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: -0.112px;
  line-height: 26px;
  margin-bottom: 0;
}

.span-full {
  grid-column: span 2;
}

.span-full .card-item {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.span-full .card-item img {
  padding-right: 30px;
  padding-bottom: 0;
  width: 50%;
  width: auto;
}

/* Join Now */
.join-now {
  padding: 120px;
  background-color: #ee4e34;
}

.join-now-header {
  font-size: 52px;
  font-weight: 700;
  letter-spacing: 0.2px;
  line-height: 74px;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #FCEDDA;
}

.join-now .subtitle {
  margin-bottom: 60px;
  text-align: center;
  color: #FCEDDA;
}

.reason{
  margin-top: 30px;
  text-align: center;
  font-size: large;
  color: #f37f51;
}

/* Go up */
.goup{
  padding: 90px ;
  background:#eaeaea;
}

@media (max-width: 1120px) {

}

@media only screen and (max-width:992px) {
    .custom {
      padding: 10px;
    }
  
    .container {
      top: 70px;
      left: 20px;
    }

    .container .custom-text {
      font-size: 6em;
    }

    .container .header-text{
      font-size: 2em;
      margin-bottom: 20px;
    }

    header {
        padding:  5px 50px;
    }

    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    header ul li a {
        font-size: 16px;
    }

    header ul li {
        display: block; 
        margin: 0px;
        line-height: 30px;
    }

    #account-hovering {
      top:50px;
      right: 10px;
    }
    .sticky #account-hovering {
      right: 40px;
    }

    #login_index {
        font-size: 20px;
    }

    #register_index {
        font-size: 20px;
    }

    .grid-container {
      grid-template-columns: auto;
      grid-template-rows: auto auto auto auto;
      row-gap: 1.5rem;
    }
  
    .about {
      grid-template-columns: auto;
      margin-top: 3rem;
      row-gap: 1.5rem;
      grid-template-rows: auto auto;
    }
  
    .card-item img {
      width: 100%;
    }
  
    .join-now-card {
      grid-template-columns: auto;
      row-gap: 1.5rem;
    }
}

@media (max-width:800px) {
    header {
      padding: 5px 30px;
    }

    .why-content {
      padding: 20px;
    }

    .sticky {
        padding: 5px 30px;
    }

    #account-hovering {
      top:70px;
      right: 10px;
    }
    .sticky #account-hovering {
      transition: 0.3s;
      right: 10px;
      top:70px;
    }

    .checkbtn {
        display: block;
    }

    header ul {
        position: fixed;
        display: block;
        width: 100%;
        height: 100vh;
        background: var(--theme-color-orange);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    header ul li {
        display: flex; 
        justify-content: center;
        align-items: center;
        margin: 0px;
        height: 150px;
        line-height: 30px;
    }

    header ul li a {
        font-size: 30px;
        color: #fff;
    }

    .sticky ul li a {
        font-size: 30px;
        color: #fff;
    }
 
    header ul li:hover a {
        color: #000;
    }
    
    header ul li:hover {
        background: var(--theme-color-peach);
        transition: all 0.6s;
    }

    #check:checked ~ ul {
        left: 0;
    }
}






