@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
}

:root {
  --theme-color-white: #EEF0E5; 
  --theme-color-light-green: #B6C4B6;
  --theme-color-medium-green: #304D30;
  --theme-color-heavy-green: #163020;
  --theme-color-bright-green: #A8DF8E;
  --theme-color-shadow: #5f5e5e73;
} 

html {
    scroll-behavior: smooth;
}

header {
  position: fixed;  
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding:  40px 100px;
  z-index: 10000;
}

body,section {
  overflow-x: hidden;
}

.sticky {
  padding: 5px 100px;
  background: rgb(238, 240, 229, 0.85);
  backdrop-filter: blur(10px);
}

.logo {
  position: relative;
  font-weight: 700;
  color: var(--theme-color-white);
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li a {
  position: inherit;
  margin: 0 15px;
  text-decoration: none;
  color: var(--theme-color-white);
  letter-spacing: 2px;
  font-weight: 700px;
  transition: 0.6s;
}

#account {
  width: fit-content;
  color: var(--theme-color-white);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#login_index {
  margin-right: 20px;
  font-weight: 500px;
  font-size: 1.5em;
}

#register_index {
  font-weight: 500px;
  font-size: 1.5em;
}

#account_img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

#account-hovering {
  transition: 0.6s;
  position: absolute;
  display: none;
  top:85px;
  right: 70px;
  z-index: 50;
  background-color: var(--theme-color-white);
  color: #000;
  width: 250px;
  height: fit-content;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.8);
  border-radius: 1%;
}

#account-hovering #content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  padding: 5px 10px;
}

#account-hovering #content #account-name {
  height: fit-content;
  margin: 5px 0px;
  font-size: 20px;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

#account-hovering #content #my-account,
#account-hovering #content #logout,
#account-hovering #content #my-loan {
  font-size: 15px;
  padding: 5px 0px;
}

#account-hovering #content #my-account:hover,
#account-hovering #content #logout:hover,
#account-hovering #content #my-loan:hover {
  background-color: var(--theme-color-shadow);
}


#account-hovering #content #logout {
  border-top: 0.5px solid rgba(22, 48, 32, 0.5);
}

.sticky .logo,
.sticky #account,
.sticky .checkbtn,
.sticky ul li a {
    color: var(--theme-color-heavy-green);
}

.sticky #account-hovering {
  top:50px;
}

.checkbtn {
  font-size: 30px;
  color: var(--theme-color-white);
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;  
}

#check {
    display: none;
}

/* EM CHAU'S PART */

.container .custom-text {
  /* color: #ee4e34;
  font-size: 70px;
  font-weight: 700;
  max-width: 870px;
  width: 70%;
  margin-bottom: 30px; */
  /* background: linear-gradient(295deg, #F29727 0%, #CD1818 58%, #CD1818 67%);     */
  background-image: linear-gradient(90deg, var(--theme-color-medium-green) 1%, var(--theme-color-white) 100%);
  text-transform: uppercase;
  font-size: 10rem;
  font-weight: 900;
  margin-top: 0px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Custom */
.custom {
  min-height: 100vh;
  position: relative;
  z-index: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--theme-color-white);
  padding: 50px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.main::-webkit-scrollbar {
  display: none;
}

.custom::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(252,237,218,0.68) 95%, var(--theme-color-white) 100%)
  scroll no-repeat bottom transparent;
}

.custom #welcome-text{
  z-index: 900;
  color: var(--theme-color-light-green);
  width: 90%;
  margin-top: 10px;
}

.custom .video {
  right: 0;
  bottom: 0;
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom::before{
  z-index: 101;
  content: '';
  position: absolute;
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(252,237,218,0.68) 95%, var(--theme-color-white) 100%);
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
}

.container {
  position: absolute;
  top: 200px;
  left: 50px;
}

.container .header-text {
   font-size: 40px;
   font-weight: 1000;
   text-transform: uppercase;
   letter-spacing: 1px;
   line-height: 75px;
   margin-bottom: 40px;
   margin-top: 30px;
   color: var(--theme-color-medium-green);
}

.button {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  background-color: var(--theme-color-heavy-green);
  color: whitesmoke;
  border: 2px solid var(--theme-color-heavy-green);;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
  background-color: var(--theme-color-white);
  color: var(--theme-color-heavy-green);
  border: 2px solid var(--theme-color-white);
}

.button3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  width: fit-content;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  background-color: var(--theme-color-white);
  color: var(--theme-color-heavy-green);
  border: 2px solid var(--theme-color-white);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button3:hover {
  background-color: black;
  color: var(--theme-color-white);
  border: 2px solid black;
}

/* Why */
.why-content {
  padding: 40px 40px 80px 40px ;
  background: var(--theme-color-white);;
  overflow-x: hidden;
}

.why-header {
  font-size: 62px;
  font-weight: 700;
  letter-spacing: 0.2px;
  line-height: 74px;
  padding-bottom: 0.5rem;
  color: var(--theme-color-medium-green);
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(auto-fit);
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  height: 100%;
  width: 100%;
}

.grid-container .grid-element {
  border-radius: 12px;
  min-height: 400px;
  background: #f7f7f7;
  padding: 35px 25px;
}

.grid-container .grid-element .advantage {
  font-size: 4em;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  align-items: center;
}

.what-content {
  padding: 120px;
  background-color: var(--theme-color-medium-green);
  overflow-x: hidden;
}

.what-header {
  font-size: 62px;
  font-weight: 700;
  letter-spacing: 0.2px;
  line-height: 74px;
  padding-bottom: 0.5rem;
  text-align: center;
  color: var(--theme-color-white);
}

.subtitle {
  color: #000;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 27px;
}

.about {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 3rem;
  column-gap: 1.5rem;
}

.card {
  background: var(--theme-color-white);
  border: none;
  border-radius: 15px;
  padding: 80px 60px 60px;
  width: 100%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 48px;
  margin-bottom: 20px;
  text-align: center;
  color: var(--theme-color-heavy-green);
}

.title ul {
  list-style: none;
}

.title ul li {
  margin-bottom: 25px;
  padding-left: 25px;
}

/* Statistics */
.statistics {
  padding: 120px;
  background: var(--theme-color-white);
}

.statistics-header {
  font-size: 62px;
  font-weight: 700;
  letter-spacing: 0.2px;
  line-height: 74px;
  padding-bottom: 0.5rem;
  text-align: center;
  color: var(--theme-color-medium-green);
  margin-bottom: 50px;
}

/* Join Now */
.join-now {
  padding: 120px;
  background-color: var(--theme-color-medium-green);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.join-now-header {
  font-size: 52px;
  font-weight: 700;
  letter-spacing: 0.2px;
  line-height: 74px;
  margin-bottom: 1.5rem;
  text-align: center;
  color: var(--theme-color-white);
}

.join-now .subtitle {
  margin-bottom: 60px;
  text-align: center;
  color: var(--theme-color-white);
}

.reason{
  margin-top: 30px;
  text-align: center;
  font-size: large;
  color: var(--theme-color-medium-green);
}

@media (max-width: 1300px) {
  .card__face.card__face--front #short-des{
    font-size: 1.5rem;
    padding: 5px;
  }
  .card__face .card__face--back p{
    font-size: 14px;
  }
}

@media only screen and (max-width:992px) {
  .custom {
    padding: 10px;
  }

  .custom #welcome-text {
    margin-top: 200px;
  }

  .container {
    top: 70px;
    left: 20px;
  }

  .container .custom-text {
    font-size: 100px;
  }

  .container .header-text{
    font-size: 50px;
    margin-bottom: 20px;
  }

  header {
      padding:  5px 50px;
  }

  label.logo {
      font-size: 30px;
      padding-left: 50px;
  }

  header ul li a {
      font-size: 16px;
  }

  header ul li {
      display: block; 
      margin: 0px;
      line-height: 30px;
  }

  #account-hovering {
    top:50px;
    right: 10px;
  }
  .sticky #account-hovering {
    right: 40px;
  }

  #login_index {
    font-size: 20px;
  }

  #register_index {
    font-size: 20px;
  }

  .about {
    grid-template-columns: auto;
    margin-top: 3rem;
    row-gap: 1.5rem;
    grid-template-rows: auto auto;
  }

  .card-item img {
    width: 100%;
  }

  .join-now-card {
    grid-template-columns: auto;
    row-gap: 1.5rem;
  }
}

@media (max-width:800px) {
  header {
    padding: 5px 30px;
  }
  .custom #welcome-text {
    margin-top: 100px;
  }
  .container .header-text{
    font-size: 30px;
    margin-bottom: 0px;
  }

  .why-content {
    padding: 20px;
  }

  .sticky {
      padding: 5px 30px;
  }

 

  .checkbtn {
      display: block;
  }

  header ul {
      position: fixed;
      display: block;
      width: 100%;
      height: 100vh;
      background: var(--theme-color-medium-green);
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
  }

  header ul li {
      display: flex; 
      justify-content: center;
      align-items: center;
      margin: 0px;
      height: 150px;
      line-height: 30px;
  }

  header ul li a {
      font-size: 30px;
      color: #fff;
  }

  .sticky ul li a {
      font-size: 30px;
      color: #fff;
  }

  header ul li:hover a {
      color: var(--theme-color-heavy-green);
  }
  
  header ul li:hover {
      background: var(--theme-color-white);
      transition: all 0.6s;
  }

  #check:checked ~ ul {
      left: 0;
  }

  .what-content {
    padding: 20px 7px 5px;
  }

  .statistics {
    padding: 10px;
  }

  .join-now {
    padding: 20px;
  }

  .goup {
    padding: 20px;
  }

  #account-hovering {
    top:70px;
    right: 0px;
    width: 100%;
    height: fit-content;
  }

  .sticky #account-hovering {
    transition: 0.3s; 
    right: 0px;
    top:70px;
    width: 100%;
    height: fit-content; 
  }
 
}



  


