:root {
    --theme-color-peach: #FCEDDA; 
    --theme-color-orange: #EE4E34;
} 

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding:  40px 100px;
    z-index: 10000;
}

.sticky {
    padding: 5px 100px;
    background: rgba(252, 237, 217, 0.8);
    backdrop-filter: blur(10px);
}

.logo {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li a {
    position: inherit;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 700px;

    transition: 0.6s;
}

header ul li a:hover {
    color: #000;
}

#account {
    width: fit-content;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#login_index {
    margin-right: 20px;
    font-weight: 500px;
    font-size: 1.5em;
}

#login_index:hover {
    color: #000;
    transition: 0.6s;
}

#register_index {
    font-weight: 500px;
    font-size: 1.5em;
}

#register_index:hover {
    color: #000;
    transition: 0.6s;
}

.sticky .logo,
.sticky #account,
.sticky ul li a {
    color: #000;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;  
}

#check {
    display: none;
}

@media only screen and (max-width:992px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    header ul li a {
        font-size: 16px;
    }
}

@media (max-width:800px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--theme-color-orange);
        top: 80px;
        left: 0;
        text-align: center;
    }

    header ul li {
        display: block;
    }

    header ul li a {
        font-size: 20px;
    }
}