/* This css will apply for common style of the website */

* {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    list-style: none;
    text-decoration: none;
}

#header {
    color: black;
    display: flex;
    justify-content:space-around;
    padding: 10px;
}

#logo {
    height: 40px;
    width: fit-content;
}

#account {
    width: 150px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fa-regular.fa-bell {
    width: 40px;
    height: fit-content;
    font-size: 20px;
}

.fa-regular.fa-bookmark {
    width: 40px;
    height: fit-content;
    font-size: 20px;
}

#account_img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#sign-in {
    width: 70px;
    height: fit-content;
    padding: 5px;
    margin: 5px;
    border: 0.5px black solid;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    background-color: #D0D4CA;

}

#sign-in:hover {
    box-shadow: 1px 1px 1px black;
}

#login {
    width: 70px;
    margin: 5px;
    height: fit-content;
    padding: 5px;
    border: 0.5px black solid;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    background-color: #EE4E34;
    color: white;
}   

#login:hover {
    box-shadow: 1px 1px 1px black;
}


@media only screen and (max-width:992px) {
    #header {
        justify-content:space-between;
    }
}

@media (max-width:600px) {
    
}