@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

:root {
  --theme-color-white: #EEF0E5; 
  --theme-color-light-green: #B6C4B6;
  --theme-color-medium-green: #304D30;
  --theme-color-heavy-green: #163020;
  --theme-color-bright-green: #A8DF8E;
  --theme-color-shadow: #5f5e5e73;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}

.whole-upper {
  height: fit-content;
  box-shadow:
    inset 0px 50px 30px rgba(0, 0, 0, 0.2),
    0px 0px 4px rgba(0, 0, 0, 0.2);
  background-color: var(--theme-color-peach);
  box-shadow: 1px 1px 10px var(--theme-color-orange);
}

.whole-upper .upper {
  margin: 0 110px;
  height: fit-content;
  position: relative;
}

.whole-upper .upper .background {
  object-fit: cover;
  width: 100%;
  height: 40vh;
  z-index: -1;
  border-radius: 0 0 10px 10px;
  margin-bottom: 1rem;
}

.upper .user-info {
  position: absolute;
  bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.profile-option {
  display: flex;
  align-items: center;
}

.profile-option img {
  margin-right: 7px;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: var(--theme-color-peach);
  padding: 5px;
  text-align: center;
}

.name {
  padding-top: 20px;
  font-size: 25px;
}

#set-buttons {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 210px;
  margin-top: 20px;
}

.edit-profile {
  background-color: var(--theme-color-orange);
  color: var(--theme-color-peach);
  border-radius: 7px;
  position: absolute;
  left: 52%;
  height: 40px;
  width: 100px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.set-default {
  border: 1px solid var(--theme-color-orange);
  color: var(--theme-color-orange);
  border-radius: 7px;
  position: absolute;
  height: 40px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.set-default button {
  color: black;
}
.edit-profile:hover {
  box-shadow: 0px 0px 3px black;
}

.set-default:hover {
  box-shadow: 0px 0px 3px black;
}

#pop-up-edit {
  z-index: 11;
  background-color: var(--theme-color-white);
}

.menu-list {
  margin-top: 150px;
  border-top: 1px solid black;
  height: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 16px 18px;
  transition: 0.1s;
  font-size: 17px;
  color: var(--theme-color-heavy-green);
  transition: 0.3s;
}

.tab button:hover {
  background-color: var(--theme-color-white);
  color: black;
}

.tab button.active {
  background-color: var(--theme-color-white);
  border-bottom: 3px solid var(--theme-color-heavy-green)
}

.tab button.active:hover {
  color: var();
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  height: 100%;
}

.tabcontent:nth-child(1) {
  display: block;
}

#empty-container {
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

/* Lower */
.whole-lower {
  background-color: var(--theme-color-peach);
  z-index: -1;
  height: 100vh;
  padding-top: 50px;
}

.lower {
  background-color: #f7f3ee;
  margin: 0 auto;
  height: 80%;
  width: 80%;
  border-radius: 10px;
  box-shadow: -2px -2px 4px var(--theme-color-orange);
  overflow-y: scroll;
}

.custom-text-orange {
  color: #ee4e34;
}

#pop-up-edit {
  width: 50%;
  z-index: 1000;
  height: 70%;
  overflow-y: scroll;
  border-radius: 10px;
  overflow-y: hidden;
}

/* Edit Profile */
.edit-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  background: var(--theme-color-medium-green);
}

.edit-header .title {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 6px;
  color: var(--theme-color-white);
}

.edit-header .close-modal {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: var(--theme-color-white);
}

#pop-up-edit .edit-body {
  width: 100%;
  padding: 20px;
  box-shadow: inset -2px 2px 2px var(--theme-color-peach);
}

#pop-up-edit .edit-body .main-user-info{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

#pop-up-edit .edit-body .username-input-box{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 15px;
  width: 100%;
  margin-top: -25px;
  justify-content: center;
}

#pop-up-edit .edit-body .user-input-box{
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding-bottom: 15px;
  justify-content: center;
}

#pop-up-edit .edit-body .username-input-box label,
#pop-up-edit .edit-body .user-input-box label{
  width: 100%;
  color: var(--theme-color-orange);
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pop-up-edit .edit-body .username-input-box input{
  height: 40px;
  width: 100%;
  border-radius: 7px;
  outline: none;
  border: 1px solid grey;
  padding: 0 10px;
}

#pop-up-edit .edit-body .user-input-box input{
  height: 40px;
  width: 95%;
  border-radius: 7px;
  outline: none;
  border: 1px solid grey;
  padding: 0 10px;
}

#pop-up-edit .edit-body button{
  margin-top: 40px;
}

#pop-up-edit .edit-body button{
  display: block;
  width: 100%;
  margin-top: 15px;
  font-size: 20px;
  padding: 10px;
  border:none;
  border-radius: 3px;
  color: rgb(209, 209, 209);
  background: var(--theme-color-heavy-green);
  transition: 0.5s;
}

#pop-up-edit .edit-body button:hover{
  background: var(--theme-color-medium-green);
}

.main-user-infor .confirm-change-box {
  display: flex;
  align-items: center;
  margin-top: -25px;
}

.main-user-infor .confirm-change-box label{
  margin-left: 10px;
}

#pop-up-edit .edit-body .image-container{
  height: 50%;
  width: -webkit-fill-available;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
}

#pop-up-edit .edit-body #background{
  width: 95%;
  object-fit: cover;
  height: 95%;
} 

#pop-up-edit .edit-body .avatar{
  width: 95%;
  height: 95%;
  object-fit: cover;
}

#pop-up-edit .edit-body .upload-button{
  position: relative;
  overflow: hidden;
  display: flex;
  background-color: var(--theme-color-heavy-green);
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 7px;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  width: 95%;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

#pop-up-edit .edit-body .upload-button span{
  color: white;
}
#pop-up-edit .edit-body .upload-button input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  font-size: 100px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#pop-up-edit .edit-body .upload-button:hover {
  background-color: var(--theme-color-medium-green);
}

#pop-up-edit .edit-body .upload-button:active {
  background-color: var(--theme-color-medium-green);;
}

.empty-content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background-color: #f7f3ee;
  margin-top: 50px;
}

@media only screen and (max-width: 1000px) {
  .whole-upper {
    height: 550px;
  }

  .upper {
    margin: 0 50px;
    height: 50vh;
    position: relative;
  }

  .user-info {
    flex-direction: column;
  }
  .edit-profile,
  .set-default {
    position: relative;
    left: 0;
  }
  .background {
    height: 30vh;
  }
  #reader-name-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

  #reader-name-box .name {
    padding-top: 5px;
  }

  .profile-option img {
    margin-right: 0px;
  }

  .avatar {
    width: 170px;
    height: 170px;
  }

  .profile-option {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-list {
    margin-top: 230px;
  }
}
@media (max-width: 600px) {
  #pop-up-edit{
    align-items: center;
    width: fit-content;
  }

  #pop-up-edit .edit-body{
    min-width: 280px;
  }

  #pop-up-edit .edit-body .username-input-box,
  #pop-up-edit .edit-body .user-input-box {
    margin-bottom: 12px;
    width: 100%;
  }

  #pop-up-edit .edit-body .confirm-change-box{
    width: 100%;
  }

  #pop-up-edit .edit-body .main-user-info {
    max-height: 300px;
    overflow: auto;
  }

  #pop-up-edit .edit-body ::-webkit-scrollbar {
    width: 0;
  }

  #pop-up-edit .edit-body .user-input-box .upload-button span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
