:root {
  --theme-color-peach: #FCEDDA;
  --theme-color-orange: #EE4E34;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}

.whole-upper {
  height: fit-content;
  box-shadow: inset 0px 50px 30px rgba(0, 0, 0, 0.2), 0px 0px 4px rgba(0, 0, 0, 0.2); 
  background-color: var(--theme-color-peach);
  box-shadow: 1px 1px 10px var(--theme-color-orange);
}

.whole-upper .upper {
  margin: 0 110px;
  height: fit-content;
  position: relative;
}

.whole-upper .upper .background {
  object-fit: cover;
  width: 100%;
  height: 40vh;
  z-index: -1;
  border-radius: 0 0 10px 10px;
  margin-bottom: 1rem;
}

.upper .user-info {
  position: absolute;
  bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.profile-option {
  display: flex;
  align-items: center;
}

.profile-option img {
  margin-right: 7px;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: var(--theme-color-peach);
  padding: 5px;
  text-align: center;
}

.name {
  padding-top: 20px;
  font-size: 25px;
}

#set-buttons {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 210px;
  margin-top: 20px;
}

.edit-profile {
  background-color: var(--theme-color-orange);
  color: var(--theme-color-peach);
  border-radius: 7px;
  position: absolute;
  left: 52%;
  height: 40px;
  width: 100px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.set-default {
  border: 1px solid var(--theme-color-orange);
  color: var(--theme-color-orange);
  border-radius: 7px;
  position: absolute;
  height: 40px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.set-default button {
  color: #EE4E34;
}
.edit-profile:hover {
  box-shadow: 0px 0px 3px black;
}

.set-default:hover {
  box-shadow: 0px 0px 3px black;
}

#pop-up-edit {
  z-index: 11;
  background-color: var(--theme-color-peach);
}

.menu-list { 
  margin-top: 150px;
  border-top: 1px solid black;
  height: 25px;
  width: 100%;
}

.menu-list .tab {
  overflow: hidden;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 16px 18px;
  transition: 0.1s;
  font-size: 17px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ffe0bb;
  border-bottom: 3px solid var(--theme-color-orange);
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

.tabcontent:nth-child(1) {
  display: block;
}

/* Lower */
.whole-lower {
  background-color: var(--theme-color-peach);
  z-index: -1;
  height: 100vh;
  padding-top: 50px;
}

.lower {
  background-color: #f7f3ee;
  margin: 0 auto;
  height: 80%;
  width: 80%;
  border-radius: 10px;
  box-shadow: -2px -2px 4px var(--theme-color-orange);
}

#pop-up-edit {
  width: 50%;
  z-index: 1000;
  height: 80%;
  overflow-y: scroll;
}

/* Edit Profile */
.edit-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.edit-header .title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #EE4E34;
}

.edit-header .close-modal {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.edit-body {
  padding: 10px 15px;

}


@media only screen and (max-width:1000px) {
  .whole-upper {
    height:550px;
  }

  .upper {
    margin: 0 50px;
    height: 50vh;
    position: relative;
  }

  .user-info {
    flex-direction: column;
  }
  .edit-profile, .set-default {
    position: relative;
    left: 0;
  }
  .background {
    height: 30vh;
  }
  #reader-name-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

  #reader-name-box .name {
    padding-top: 5px;
  }

  .profile-option img {
    margin-right: 0px;
  }

  .avatar {
    width: 170px;
    height: 170px;
  }

  .profile-option {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-list {
    margin-top: 230px;
  }
}

#edit-username-box .title, #edit-background-box .title, #edit-ava-box .title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: #EE4E34;
  margin-bottom: 1rem;
}

.layer-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.layer-two #name {
  margin-bottom: 1rem;
}
.layer-two input, .layer-two label {
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
  font-weight: 400;
}

.layer-two input {
  width: 220px;
}

#confirm-change-box {
  display: flex;
  justify-content: space-around;
}

.submit-button {
  background-color: var(--theme-color-orange);
  color: var(--theme-color-peach);
  border-radius: 7px;

  height: 40px;
  width: 100px;
}