/* search filter */

:root {
  --theme-color-white: #EEF0E5; 
  --theme-color-light-green: #B6C4B6;
  --theme-color-medium-green: #304D30;
  --theme-color-heavy-green: #163020;
  --theme-color-bright-green: #A8DF8E;
  --theme-color-shadow: #5f5e5e73;
}

#search-filter-popup {
  width: auto;
  z-index: 1000;
}

.search-filter-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  background: var(--theme-color-medium-green);
}

aside.search-filter {
  padding: 1rem;
  padding-left: 1.5rem;
  padding-top: 3rem;
  padding-right: 0.5rem;
  font-size: 0.85rem;
}

.search-filter-header .title {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--theme-color-white);
}

.search-filter-header .close-modal {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--theme-color-white)
}

#main-page {
  background-color: white;
}

form {
  border-radius: 10px;
}

.search-filter-body {
  padding: 10px 10px;
  background: #edeee9;
}

#search-filter-home {
  width: 500px;
  margin: 5px 20px 5px;
  background: var(--theme-color-white);
}

.search-title-input {
  width: 100%;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid var(--theme-color-white);
}

.search-filter-body .search-btn {
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: var(--theme-color-heavy-green);
  color: var(--theme-color-white);
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: 0.5s;
  width: 100%
}

.search-btn:hover {
  background: var(--theme-color-medium-green);
  color: var(--theme-color-white);
}

.search-option {
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-option-label {
  font-weight: bold;
}

.categories-select {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.3em;
  padding-top: 0.3em;
}

.search-result {
  background-color: #eaeaea;
}

.search-result-container {
  padding: 1rem;
  padding-top: 3rem;
  padding-left: 3rem;
  font-size: 1rem;
}

.search-result-display {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));

  gap: 20px;
  
  align-items: center;
}
.image-box {
  height: 100%;
}
.search-result-display .card.swiper-slide {
  height: 400px;
}

.search-result-display .card.swiper-slide .image-box img {
  object-fit: cover;
}

.search-result-item {
  width: 300px;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#search-result-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--theme-color-white);
  background: var(--theme-color-heavy-green);
  border-radius: 10px;
  text-align: center;
}

/* pagination styling */


@media (max-width: 972px) {
  #search-filter-home {
    width: 300px;
  }
  #main-page {
    display: flex;
    flex-direction: column;
  }
  .search-result-container {
    padding-left: 1rem;
  }
}

.image-box img {
  height: 100%;
}
