* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --theme-color-white: #EEF0E5; 
    --theme-color-light-green: #B6C4B6;
    --theme-color-medium-green: #304D30;
    --theme-color-heavy-green: #163020;
    --theme-color-bright-green: #A8DF8E;
    --theme-color-shadow: #5f5e5e73;
}

:root {
    --theme-color-peach: #FCEDDA;
    --theme-color-orange: #EE4E34;
}

.slider{
    width: 5000px;
    max-width: 100vw;
    height: 70vh;
    margin: auto;
    position: relative;
    
}
.slider .list{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}
.slider .list img{
    width: 5500px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}
.slider .buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.slider .buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.slider .dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.slider .dots li{
    list-style: none;
    width: 30px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
    cursor: pointer;
}
.slider .dots li.active{
    width: 50px;
}


#search {
    position: absolute;
    width: 50vw;
}
/* second slider */
body{
    background-color: var(--theme-color-white);
    margin: 0;
}
.container1{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000000;
    overflow: hidden;
}
#lib-title {
    position: absolute;
    z-index: 100;
    left: 30%;
    top: 10%;
    color: var(--theme-color-medium-green);
    text-shadow: 2px 2px 5px rgba(238, 240, 229, 0.7)
}
.container1::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 10;
    background: linear-gradient(
        var(--theme-color-white),
        rgb(252, 237, 218, 0)
        
         )
     
         scroll no-repeat bottom transparent;
}
.container1::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background: linear-gradient(
        rgb(252, 237, 218, 0),
        var(--theme-color-white)
         )
         scroll no-repeat bottom transparent;
}
#slide, #slide1{
    width:max-content;
}
.item2{
    width:200px;
    height:300px;
    background-position: 50% 50%;
    display: inline-block;
    transition: 1s;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top:50%;
    transform: translate(0,-50%);
    border-radius: 20px;
    box-shadow:  0 30px 50px #505050;
}
.item2:nth-child(1),
.item2:nth-child(2) {
    left:0;
    top:50;
    position: absolute;
    transform: scale(1%);
    border-radius: 0;
    box-shadow: none;
    z-index: -1;
}
.item2:nth-child(3){
    left:50%;
}
.item2:nth-child(3):hover {
    transform: translate(-25%, -50%);
}
.item2:nth-child(4){
    left:calc(50% + 220px);
}
.item2:nth-child(5){
    left:calc(50% + 440px);
}
.item2:nth-child(n+6){
    left:calc(50% + 660px);
    opacity: 0;
}
/* second slide */
.item1{
    width:100%;
    height:100%;
    display: inline-block;
    transition: 1s;
    background-size: cover;
    position: absolute;
}
.item1:nth-child(2),
.item1:nth-child(3){
    position: absolute;
    
}
.item1:nth-child(4){
    left:0%;
    width: 100vw;
}
.item1:nth-child(5){
    left:100vw;
}
.item1:nth-child(6){
    left:100vw;
}
.item1:nth-child(n+7){
    left:100vw;

}
.content{
    top: 40%;
    left: 10%;
    width:300px;
    text-align: left;
    padding:0;
    display: none;
    font-family: system-ui;
}
.item1:nth-child(4) .content{
    position: absolute;
    display: block;
    width: 100%;
}
.item1:nth-child(4) .content .name{
    font-size: 50px;
    color:#eee;
    font-weight: bold;
    opacity: 0;
    animation:showcontent 1s ease-in-out 1 forwards;
    width: 450px;
}
.item1:nth-child(4) .content .des{
    margin:20px 0;
    font-size: 30px;
    opacity: 0;
    color:#eee;
    width: fit-content;
    animation:showcontent 1s ease-in-out 0.3s 1 forwards
}
button{
    padding:10px 20px;
    border:none;
    opacity: 0;
    animation:showcontent 1s ease-in-out 0.6s 1 forwards
}

#see-more-btn {
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    padding: 8px;
}

#see-more-btn:hover {
    border: 1px solid var(--theme-color-heavy-green);
    background-color: var(--theme-color-heavy-green);
    color: var(--theme-color-white);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.8);
}
#see-more-btn:active {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.8);
} 
@media screen and (max-width: 768px){
    .slider{
        height: 400px;
    }
}
@keyframes showcontent{
    from{
        opacity: 0;
        transform: translate(0,100px);
        filter:blur(33px);
    }to{
        opacity: 1;
        transform: translate(0,0);
        filter:blur(0);
    }
}
.buttons1{
    position: absolute;
    bottom:30px;
    z-index: 100;
    text-align: center;
    width:100vw;
}
.buttons1 button{
    width:50px;
    height:50px;
    border-radius: 50%;
    border:1px solid #555;
    transition: 0.5s;
    background-color: #eaeaea;
}.buttons1 button:hover{
    background-color: #bac383;
}

.slider::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background: linear-gradient(
        rgb(252, 237, 218, 0),
        var(--theme-color-white)
         )
         scroll no-repeat bottom transparent;
}