body {
  font-family: 'Poppins', sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}
  
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container .custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  margin-top: 20px;
  font-size: 18px;
}
.container .btn-5 {
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: rgb(255,27,0);
  background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
}
.container .btn-5:hover {
  color: #f0094a;
  background: transparent;
  box-shadow:none;
}
.container .btn-5:before,
.container .btn-5:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #f0094a;
  box-shadow:
   -1px -1px 5px 0px #fff,
   7px 7px 20px 0px #0003,
   4px 4px 5px 0px #0002;
  transition:400ms ease all;
}
.container .btn-5:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.container .btn-5:hover:before,
.container .btn-5:hover:after{
  width:100%;
  transition:800ms ease all;
}
  .message {
  text-align: center;
  padding: 80px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
.message h1 {
  font-size: 40px;
  margin: 0;
  padding: 10px 0;
  color: red;
}
  
.message h1:not(:first-child) {
  margin-top: 20px;
}
  
/* Responsive Styles */
@media screen and (max-width: 992px) {
  .message {
    padding: 70px;
    margin: 40px;
  }

  .message h1 {
    font-size: 30px;
  }

  .message h1:not(:first-child) {
    margin-top: 15px;
  }
}
  
@media screen and (max-width: 600px) {
  .message h1 {
    font-size: 25px;
  }

  .message h1:not(:first-child) {
    margin-top: 10px;
  }
}