<!DOCTYPE html>
<html>
<head>
  <title>Reset Password</title>
</head>
<body>
  <h1>Reset your password</h1>
  
  <% if (error) { %>
      <p style="color: red;"><%= msg %></p>
  <% } %>

  <% if (!error) { %>
    <!-- Add for loop for the messages -->
    <% if (msg) { %>
        <p style="color: red;"><%= msg %></p>
    <% } %>
      <form action="reset-password" method="POST">
          <label for="password">New Password:</label>
          <input type="password" id="password" name="password" required>
          <label for="confirmPassword">New Password:</label>
          <input type="password" id="confirmPassword" name="confirmPassword" required>
          <button type="submit">Submit</button>
      </form>
  <% } %>
</body>
</html>