<!DOCTYPE html>
<html>
<head>
  <title>Reset Password</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/styles/reset-password.css">
</head>
<body>
  <div class="wrapper">
    <div class="container">
      <div class="title-section">
        <h1>Reset your password</h1>
        <p class="para">Enter your new password</p>
        <p class="para">Please note that the old password must be different from the new one.</p>
        <p class="para">Password must be between 8 and 20 characters</p>
        <p class="para">Password must contain at least one uppercase letter, one lowercase letter, one digit, and one special character</p>
      </div>
      
      <% if (error) { %>
          <p style="color: red;"><%= msg %></p>
      <% } %>

      <% if (!error) { %>
        <!-- Add for loop for the messages -->
        <% if (msg) { %>
            <p style="color: red;"><%= msg %></p>
        <% } %>
          <form action="reset-password/<%= email %>" method="POST">
            <h1>Change password for <%= email %></h1>
            <label for="password">Enter New Password</label>
              <input type="password" id="password" name="password" required>
              <label for="confirmPassword">Confirmed New Password</label>
              <input type="password" id="confirmPassword" name="confirmPassword" required>
              <button class="submit-btn" type="submit">Submit</button>
          </form>
      <% } %>
    </div>
  </div>
</body>
</html>

