
<footer class="footer-area">
    <div class="footer-wave-box">
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
    <div class="main">
        <div class="footer">
            <div class="single-footer">
                <h4 class="logo_footer"><b>VXNHE</b></h4>
                <p>This online library manages different kinds of books, which make them more searchable and arrangeable.</p>
                <div class="footer-social">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="single-footer">
                <h4>Menu</h4>
                <ul>
                    <li><a href=""><i class="fas fa-chevron-right"></i>Home</a></li>
                    <li><a href=""><i class="fas fa-chevron-right"></i>About Us</a></li>
                    <li><a href=""><i class="fas fa-chevron-right"></i>Services</a></li>
                    <li><a href=""><i class="fas fa-chevron-right"></i>Gallery</a></li>
                    <li><a href=""><i class="fas fa-chevron-right"></i>Contact Us</a></li>
                </ul>
            </div>
            <div class="single-footer">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href=""><i class="fas fa-chevron-right"></i>Privacy</a></li>
                    <li><a href="/terms"><i class="fas fa-chevron-right"></i>Terms & Conditions</a></li>
                    <li><a href=""><i class="fas fa-chevron-right"></i>Disclaimer</a></li>
                </ul>
            </div>
            <div class="single-footer">
                <h4>Contact Us</h4>
                <ul>
                    <li><a href=""><i class="fas fa-map-marker-alt"></i>RMIT University Vietnam Hanoi Campus</a></li>
                    <li><a href=""><i class="fas fa-mobile-alt"></i>Phone number...</a></li>
                    <li><a href=""><i class="fas fa-envelope"></i>Email...</a></li>
                </ul>
            </div>
        </div>
        <div class="copy">
            <p>&copy; 2023 All rights reserved | This website is made from <b><i>Team 9</i></b></p>
        </div>
    </div>
</footer>