
<div id="header">

    <div id="logo">
        <img src="" alt="">
    </div>
    
    <div id="account">
        <a href="">
            <img src="images/default-ava.png" alt="Reader Avatar">
        </a>
    </div>

</div>

    