
<div id="header">

    <div id="logo">
        <a href="/">
            <h1>Public library</h1>
        </a>
        <!-- <img src="" alt=""> -->
    </div>
    
    <div id="account">
        <a href="">
            <i class="fa-regular fa-bookmark"></i>
        </a>

        <a href="">
            <i class="fa-regular fa-bell"></i>
        </a>
        
        <a href="">
            <img src="images/default-ava.png" alt="Reader Avatar" id="account_img">
        </a>
    </div>

</div>

    