<form action="/search" method="GET" class="search-form">
    <input type="text" name="book-query" placeholder="Search book" class="search-input">
    <button type="submit" class="search-button"> Search
    </button>
</form>