<!DOCTYPE html>
<html>
<head>
  <title>Terms and Condition Section Tabs In HTML CSS and Javascript</title>
  <link rel="stylesheet" type="text/css" href="styles/terms.css">
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/footer.css"/>
</head>

<%- include("partials_readers/head_navigation.ejs") %>
<body>

<div class="wrapper flex_align_justify">
   <div class="tc_wrap">
       <div class="tabs_list">
         <ul>
           <li data-tc="tab_item_1" class="active">Terms of use</li>
           <li data-tc="tab_item_2">Intellectual property rights</li>
           <li data-tc="tab_item_3">Prohibited activities</li>
           <li data-tc="tab_item_4">Termination clause</li>
           <li data-tc="tab_item_5">Governing law</li>
         </ul>
       </div>
       <div class="tabs_content">
          <div class="tab_head">
            <h2>Terms & Conditions</h2>
          </div>
          <div class="tab_body">
            <div class="tab_item tab_item_1">
              <h3>Terms of use</h3>
              <p>a. Library Managers: <br> Library managers are responsible for overseeing and administering the System, including managing user accounts, book cataloging, and maintaining the overall functionality of the System. They must ensure accurate and up-to-date information about the books, including titles, authors, genres, descriptions, and cover images.</p>
              <br>
              <p>b. Librarians: <br> Librarians assist in managing the System, including adding, modifying, and categorizing books, as well as providing support to readers. They must adhere to the guidelines and procedures set by the library managers.</p>
              <br>
              <p>c. Readers: <br> Readers have the privilege to search, browse, and access books available in the library through the System. They should respect the intellectual property rights of authors and publishers and not engage in any activities that infringe upon copyright laws or violate the rights of others.</p>
            </div>
            <div class="tab_item tab_item_2" style="display: none;">
              <h3>Intellectual property rights</h3>
              <p>a. Ownership: <br> All intellectual property rights, including but not limited to content, trademarks, logos, and design elements, are owned by the System or its licensors. Users may not copy, reproduce, distribute, or use any intellectual property of the System without prior written permission.</p>
              <p>b. User-Generated Content: <br> By submitting content such as book reviews, comments, or suggestions, users grant the System a non-exclusive, royalty-free license to use, modify, and distribute the content for the purpose of improving the user experience and promoting the System. Users are solely responsible for the content they submit and must not infringe upon the intellectual property rights of others.</p>
            </div>
            <div class="tab_item tab_item_3"  style="display: none;">
              <h3>Prohibited activities</h3>
              <p>a. Users are strictly prohibited from uploading or sharing any illegal, harmful, or offensive content, including explicit, discriminatory, or violent materials.</p>
              <p>b. Users must not engage in any form of hacking, data mining, reverse engineering, or unauthorized access to the System's systems or databases.</p>
              <p>c. Users must not impersonate others or misrepresent their affiliation with the System or any other individual or entity.</p>
              <p>d. Users must not disrupt or interfere with the normal functioning of the System, including the introduction of viruses, malware, or any other harmful code.</p>
              <p>e. Users must not engage in any activity that violates applicable laws, regulations, or the rights of others.</p>
            </div>
            <div class="tab_item tab_item_4"  style="display: none;">
              <h3>Termination clause</h3>
              <p>a. The System reserves the right to terminate or suspend a user's access to the System, with or without cause, at any time and without prior notice.</p>
              <p>b. Users may terminate their agreement with the System by discontinuing the use of the System and deleting their account, if applicable.</p>
            </div>
            <div class="tab_item tab_item_5"  style="display: none;">
                <h3>Governing law</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem alias nemo eius aspernatur doloremque laboriosam velit, consequatur nesciunt, ipsum facere autem, dicta quam consectetur! Nostrum quae odit adipisci omnis asperiores!</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem alias nemo eius aspernatur doloremque laboriosam velit, consequatur nesciunt, ipsum facere autem, dicta quam consectetur! Nostrum quae odit adipisci omnis asperiores!</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem alias nemo eius aspernatur doloremque laboriosam velit, consequatur nesciunt, ipsum facere autem, dicta quam consectetur! Nostrum quae odit adipisci omnis asperiores!</p>
            </div>
          </div>
          <div class="tab_foot flex_align_justify">
            <button class="decline">
              Decline
            </button>
            <button class="agree">
              Agree
            </button>
          </div>
       </div>
   </div>
</div>

<script type="text/javascript" src="js/terms.js"></script>
<%- include("partials_readers/footer.ejs") %>
</body>
</html>